@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-primary antialiased;
}

/* Styles pour Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Styles pour le slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f97316;
  /* Orange primary */
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f97316;
  /* Orange primary */
  cursor: pointer;
  border: none;
}

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-background-lighter rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}